<html>
<head>
  <title>AmpHunt</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>AmpHunt</h1>
  <ul>
    {{#brands}}
      <li><a href='{{id}}.html'>{{brand}}</a> ({{count}})</li>
    {{/brands}}
  </ul>
</body>
</html>
